.button {
	font-size: 24px;
	border-radius: 5;
}
.topnav {
  position: relative;
  background-color: white;
  overflow: hidden;
}
.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
#social{
	color: black;
}
.topnav a:hover {
  background-color: #ddd;
  color: black;
}


.topnav-centered a {
  float : center;
  position: relative;
  margin-top: 5%;
  left : 45%;
  top : 45%;
  background-color: grey;
  transform: translate(-50%,50%);
  border-radius: 20%;
  padding: 14px 16px;

  
}
.topnav-right {
  float: right;
}
body{ 
	background-color: light-grey; 
}
h1 { 
	color : dark-grey;
	text-align: center; 
}
h2 { 
	color : purple;
	text-align: center; 
}

p { 
	color : indigo; 
	text-align : center;
}
.center{
	display: block;
  	margin-left: auto;
 	margin-right: auto;
 	
}
.top{
	display: block;
	margin-top: auto;
}
.column{
 	float : left;
  	width: 32%;
  	margin-bottom: 16px;
  	padding: 0 8px;
}
.card{
	margin-top : 20%;
	box-shadow: 0 4px 10px 0 rgba(240, 128, 128, 10);
	background-color: lightsalmon;
}
.container::after, .row::after {
  	content: "";
 	clear: both;
 	display: table;
}
.interest {
	color : black;
	font-size: 30px;
	font-weight:30px;
	

}