.button {
	font-size: 24px;
	border-radius: 5;
}
.topnav {
  position: relative;
  background-color: white;
  overflow: hidden;
}
.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  
}
#social{
	color: black;
}
.topnav a:hover {
  background-color: indianred;
  color: black;
}


.topnav-centered a {
  float : center;
  position: relative;
  margin-top: 5%;
  left : 45%;
  top : 45%;
  background-color: papayawhip;
  transform: translate(-50%,-50%);
  border-radius: 20%;
  padding: 14px 16px;
  font-family: "Montserrat", sans-serif;
  box-shadow: 0px 4px 10px 0px rgba(240, 128, 128, 10);

  
}
.topnav-right {
  float: right;
}
body{ 
	background-color: white; 
}
h1 { 
	color : dark-grey;
	text-align: center; 
  font-family: "Montserrat", sans-serif;
}
h2 { 
	color : teal;
	text-align: center; 
  font-family: "Montserrat", sans-serif;
}

p { 
	color : dark-grey; 
	text-align : center;
  font-family: "Montserrat", sans-serif;
  padding : 0px 12px;
}
.center{
	display: block;
  margin-left: auto;
 	margin-right: auto;

 	
}
.top{
	display: block;
	margin-top: auto;
}
.column{
 	float : left;
  width: 32%;
  margin-bottom: 16px;
  padding: 0 8px;
  

}
.card{
	margin-top : 20%;
	box-shadow: 5px 4px 10px 5px rgba(240, 128, 128, 10);
	background-color: peachpuff;
}
.container::after, .row::after {
  content: "";
 	clear: both;
 	display: table;

}
.interest {
	color : dark-grey;
	font-size: 25px;
	font-weight:bold;
  font : poppins;

}
#subinterest{
  color : indianred;
  font-size: 15px;
  font-weight:bolder;
  font : poppins;

}